@import "./base/reset";
@import "./base/typography";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./layout/header";
@import "./layout/footer";
@import "./utils/mediaquerries";

body {
  font-family: $font-text;
}

/*Début de la page index.html*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader-stop 5s both;
          animation: loader-stop 5s both;

  h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Shrikhand-Regular";
    color:$color-primary;

    em {
      color: $color-secondary;
    }

    span {
      color: $color-tertiary;
    }
  }
}

.loader {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: black 30px solid;
  position: absolute;
  -webkit-animation: loader-animation 2s ease-in-out 2 both;
  animation: loader-animation 2s ease-in-out 2 both;


  &__stars1 {
    color: $color-stars;
    position: absolute; /*Etoile centrée à droite*/
    right: -1.4em;
    bottom: 6em;
  }

  &__stars2 {
    color: $color-stars2;
    position: absolute; /*Etoile du dessus*/
    top: -1.4em;
    left: 5.6em;
  }

  &__stars3 {
    color: $color-stars;
    position: absolute; /*Etoile centrée au gauche*/
    left: -1.4em;
    bottom: 6em;
  }

  &__stars4 {
    color: $color-stars2;
    position: absolute; /*Etoile centrée en bas*/
    bottom: -1.4em;
    left: 5.6em;
  }

  &__utensils1 {
    color: $color-utensils;
    position: absolute; /*A droite*/
    top: 0.5em;
    right: 1em;
  }

  &__utensils2 {
    color: $color-utensils;
    position: absolute; /*Etoile de gauche au dessus du centre*/
    top: 0.5em;
    left: 1em;
  }

  &__utensils3 {
    color: $color-utensils;
    position: absolute; /*Etoile de gauche en bas du centre*/
    bottom: 0.5em;
    left: 1em;
  }

  &__utensils4 {
    color: $color-utensils;
    position: absolute; /*Etoile de gauche au dessus du centre*/
    bottom: 0.5em;
    right: 1em;
  }
}

.header {
  @include header;
}

.localisation {
  background-color: #eaeaea;
  text-align: center;
  padding: 1em 0em 1em 0em;
  font-weight: bold;

  &__icon {
    position: relative;
    right: 1em;
  }
}

.description {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 0em 2em 0em;

  &__title {
    font-weight: bold;
    font-size: 20px;
    width: 60%;
  }

  &__text {
    padding: 1em 0em 1em 0em;
    color: #545454;
    width: 80%;
  }

  &__btn {
    @include btn;

    &:hover {
      @include btn-hover;
    }
  }
}

.functioning {
  padding: 1em 1em 1em 1em;

  &__title {
    font-weight: bold;
    font-size: 20px;
  }

  &__list {
    counter-reset: numberlist;
  }

  &__listline {
    font-weight: bold;
    margin: 1em 0.5em 1em 0.5em;
    padding: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    background-color: #f6f6f6;
    @include btn-shadow;
    counter-increment: numberlist;
    height: 3em;
    cursor: pointer;

    &::before {
      content: counter(numberlist);
      position: relative;
      left: -2.2em;
      top: 1.2em;
      border-radius: 50%;
      background-color: $color-primary;
      padding: 0.5em 0.7em 0.5em 0.7em;
      font-size: 12px;
      color: white;
    }

    &:hover {
      height: calc(3em - 4px);
      border: 2px $color-primary solid;
    }
  }

  &__icon {
    padding: 0em 1em 0em 0.5em;
    color: #545454;
    font-size: 15px;
  }
}

.restaurant {
  padding: 0em 1em 1em 1em;

  a {
    text-decoration: none;
    color: black;
  }

  &__new {
    position: absolute;
    right: 1em;
    top: 1em;
    border-radius: 0.3em;
    background-color: $color-tertiary;
    padding: 0.5em;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 1em;
  }

  &__card {
    margin-bottom: 1em;
    position: relative;

    &:hover {
      transform: scale(1.02);
      transition: 0.5s;
    }
  }

  &__card img {
    height: 9em;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    border-radius: 1em 1em 0em 0em;
  }

  &__caption {
    border-radius: 0em 0em 1em 1em;
    @include btn-shadow;
    padding: 1em 1em 1em 1em;

    h3 {
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 0.5em;
    }

    p {
      font-size: 16px;
    }
  }

  &__heart {
    position: absolute;
    right: 2em;
    top: 10.5em;
  }

  &__iconsheart {
    font-size: 1.5em;
    cursor: pointer;

    &:active {
      color: $color-secondary;
      transition: 250ms;

      &::after {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.1em;
        position: absolute;
        bottom: -0.03em;
        left: -0.04em;
      }
    }
  }
}

.footer {
  @include footer;
}

/* Fin de la page index*/
/*Début des pages annexes*/

.cardmenu {
  background-color: #f6f6f6;

  img {
    width: 100%;
    height: 100%;
    max-height: 14em;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    z-index: 2;
  }

  &__description {
    border-radius: 3em 3em 0em 0em;
    background-color: #f6f6f6;
    padding: 2em 0em 1em 0em;
    position: relative;
    bottom: 3em;
    z-index: 3;

    h3 {
      font-size: 15px;
    }

    em {
      border-bottom: solid $color-tertiary 3px;
      padding-bottom: 0.4em;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em 0em 1em;

    h2 {
      font-family: $font-title;
      font-size: 25px;
    }
  }

  &__heart {
    position: relative;
  }

  &__iconheart {
    font-size: 1.5em;
    cursor: pointer;

    &:active {
      color: $color-secondary;
      transition: 250ms;

      &::after {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.1em;
        position: absolute;
        bottom: -0.03em;
        left: -0.04em;
      }
    }
  }

  &__meal {
    padding: 1em 1em 1em 1em;
    line-height: 1.7em;

    li {
      background-color: white;
      border-radius: 1em 1em 1em 1em;
      margin: 1em 0em 1em 0em;
      padding: 1em 1em 1em 1em;
      @include btn-shadow;
      position: relative;
      display: flex;
      justify-content: space-between;
      -webkit-animation-name: menu-animation back;
      animation-name: menu-animation;
      -webkit-animation-duration: 2000ms;
      animation-duration: 2000ms;
      animation-fill-mode: both;
      opacity: 0;

      p:first-child {
        font-size: 18px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      p:nth-child(2) {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .validation {
        display: none;
      }

      &:hover {
        .validation {
          font-size: 35px;
          background-color: #99e2d0;
          color: white;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          display: flex;
          align-items: center;
          padding: 0.5em;
          border-radius: 0em 0.4em 0.4em 0em;
          animation: slide-left 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }

        .valid {
          animation: rotation 0.4s linear both;
          animation-direction: reverse;
        }
      }
    }
  }

  @include menu-animation;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__price {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__btn {
    @include btn;
    margin: auto;
    text-align: center;
    margin-top: 2em;

    &:hover {
      @include btn-hover;
    }
  }
}

/*Fin des pages annexes*/
