@import "./base/reset";
@import "./base/typography";
@import "./utils/variables";
@import "./utils/mixins";

@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('../polices/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../polices/Roboto-Regular.ttf') format('truetype');
}

img
{
 width: 200px;
}

.footer {
    background-color: #353535;
    color: $color-font-footer;
    padding: 1em;
    
        &__title {
            font-family: $font-title;
            font-size: 20px;
            padding-bottom: 1em;
        }

        &__listline {
            font-family: $font-text;
            font-size: 15px;
            line-height: 1.5em;
        }

        &__icon {
            width: 1em;
            margin-right: 0.5em;
        }

        &__link {

            text-decoration: none;
            color: $color-font-footer;

            &:hover {
                text-decoration: underline;
            }
        }
}