@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../polices/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../polices/Roboto-Regular.ttf") format("truetype");
}
