@-webkit-keyframes menu-animation {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0px);
  }
}
@keyframes menu-animation {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-stop {
  0% {
    opacity: 1;
    z-index: 1000;
  }

  99% {
    opacity: 1;
    z-index: 1000;
  }

  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes loader-stop {
  0% {
    opacity: 1;
    z-index: 1000;
  }

  99% {
    opacity: 1;
    z-index: 1000;
  }

  100% {
    opacity: 0;
    z-index: -1000;
  }
}
