@media screen and (min-width: 1024px) and (max-width: 1440px) /*Version Desktop & Tablette Portrait*/ {
  .functioning {
    &__list {
      height: 7em;
      display: flex;
      justify-content: space-between;
    }

    &__listline {
      width: 100%;

      &:hover {
        width: calc(100% - 15px);
      }
    }
  }

  .restaurant {
    padding: 0em 1em 1em 1em;

    &__cardlisting {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    &__card {
      margin: 0;
    }
  }

  .menu {
    img {
      max-height: 18em;
    }

    .responsive {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1441px) and (max-width: 3840px) {


  .functioning {
    margin: 0em 20em 0em 20em;

    &__list {
      height: 7em;
      display: flex;
      justify-content: space-between;
    }

    &__listline {
      width: 100%;

      &:hover {
        width: calc(100% - 15px);
      }
    }
  }

  .restaurant {
    padding: 0em 1em 1em 1em;
    margin: 0em 20em 0em 20em;


    &__cardlisting {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    &__card {
      margin: 0;
    }
  }

  .menu {

    img {
      max-height: 20em;
    }

    .contentmenu {
      margin: 0em 10em 0em 10em;
    }

    .responsive {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
