/*Variables Couleurs*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-font-footer: white;

/*Variables Polices*/

$font-title:"Shrikhand-Regular";
$font-text:"Roboto-Regular";